<template>
  <div>
    <page-header title="Felhasználók Rangsora"></page-header>
    <div v-if="userRank.top3User.length < 3" class="sorry-msgs">
      <v-flex xs12 sm10 md8 lg6 offset-xs0 offset-sm1 offset-md2 offset-lg3>
        <v-layout row justify-center>
          <h3>Még nincs elengendő mennyiségű lájk a mémeken a rangsor kiértékeléséhez :(</h3>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm10 md8 lg6 offset-xs0 offset-sm1 offset-md2 offset-lg3>
        <v-layout row justify-center>
          <p>Nézz vissza később!</p>
        </v-layout>
      </v-flex>
    </div>
    <div v-else>
      <v-flex xs12 sm10 md8 lg6 offset-xs0 offset-sm1 offset-md2 offset-lg3>
        <v-container class="user-chart">
          <v-layout class="chart-layout" row justify-center>
            <v-flex>
              <transition appear
                          @before-enter="beforeEnter"
                          @enter="enter"
                          @after-enter="afterEnter"
                          @enter-cancelled="enterCancelled"
                          @before-leave="beforeLeave"
                          @leave="leave"
                          @after-leave="afterLeave"
                          @leave-cancelled="leaveCancelled">
                <v-card dark color="#88929b" heigth="200px" class="second-place rank-card">
                  <h2>{{ userRank.top3User[1].userName }}</h2>
                  <v-card-text>{{ userRank.top3User[1].memeLikeCount }} db memékre kapott lájk</v-card-text>
                </v-card>
              </transition>
            </v-flex>
            <v-card class="helper-card">
            </v-card>
            <v-flex>
              <transition appear
                          @before-enter="beforeEnter"
                          @enter="enter"
                          @after-enter="afterEnter"
                          @enter-cancelled="enterCancelled"
                          @before-leave="beforeLeave"
                          @leave="leave"
                          @after-leave="afterLeave"
                          @leave-cancelled="leaveCancelled">
                <v-card dark color="#eebd01" class="first-place rank-card">
                  <h2>{{ userRank.top3User[2].userName }}</h2>
                  <v-card-text>{{ userRank.top3User[2].memeLikeCount }} db memékre kapott lájk</v-card-text>
                </v-card>
              </transition>
            </v-flex>
            <v-flex>
              <transition appear
                          @before-enter="beforeEnter"
                          @enter="enter"
                          @after-enter="afterEnter"
                          @enter-cancelled="enterCancelled"
                          @before-leave="beforeLeave"
                          @leave="leave"
                          @after-leave="afterLeave"
                          @leave-cancelled="leaveCancelled">
                <v-card dark color="#c66b3c" class="third-place rank-card">
                  <h2>{{ userRank.top3User[0].userName }}</h2>
                  <v-card-text>{{ userRank.top3User[0].memeLikeCount }} db memékre kapott lájk</v-card-text>
                </v-card>
              </transition>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </div>
  </div>
</template>

<script>
import PageHeader from '../static/PageHeader'
import { mapState } from 'vuex'

export default {
  data: function () {
    return {
      elementHeight: 0
    }
  },
  components: { PageHeader },
  computed: {
    ...mapState([
      'userRank'
    ])
  },
  created: function () {
    this.$store.dispatch('getTop3User', {
    })
  },
  methods: {
    beforeEnter (el) {
      // this.elementHeight = 0
      el.style.height = this.elementHeight + 'px'
    },
    enter (el, done) {
      let round = 1
      if (el.style.backgroundColor === 'rgb(238, 189, 1)') {
        const interval = setInterval(() => {
          el.style.height = (this.elementHeight + round * 10) + 'px'
          round++
          if (round > 25) {
            clearInterval(interval)
            done()
          }
        }, 25)
        done()
      } else if (el.style.backgroundColor === 'rgb(136, 146, 155)') {
        const interval = setInterval(() => {
          el.style.height = (this.elementHeight + round * 10) + 'px'
          round++
          if (round > 20) {
            clearInterval(interval)
            done()
          }
        }, 20)
        done()
      } else {
        const interval = setInterval(() => {
          el.style.height = (this.elementHeight + round * 10) + 'px'
          round++
          if (round > 15) {
            clearInterval(interval)
            done()
          }
        }, 15)
        done()
      }
    },
    afterEnter (el) {

    },
    enterCancelled (el) {

    },
    beforeLeave (el) {

    },
    leave (el, done) {

    },
    afterLeave (el) {

    },
    leaveCancelled (el) {

    }
  }
}
</script>

<style scoped>
  .sorry-msgs {
    margin-top: 25px;
    color: #757575;
  }

  .user-chart {
    margin-top: 25px;
    height: 500px;
  }

  .chart-layout {
    align-items: flex-end;
    margin-top: 50px;
  }

  .rank-card {
    text-align: center;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
    transition: 2s;
  }

  .helper-card {
    height: 250px;
  }
</style>
