<template>
  <v-layout row class="search-layout">
    <v-flex xs12 sm12 md8 lg6 offset-xs0 offset-sm0 offset-md2 offset-lg3>
      <v-card class="search-card">
        <v-text-field
          placeholder="Gyors keresés"
          @input="onSearchNameInput"
          :value="memeSearch.universalSearchStr"
          hide-details
          clearable
          color="red"
          solo
        ></v-text-field>
      </v-card>
      <div class="detailed-search-activator">
        <transition name="fade" mode="out-in">
          <v-icon class="detailed-search-icon" :class="{ pulse: areDetailedSearchFieldsNotEmpty() }" @click="toggleDetailedSearch()" v-if="!detailedSearchActivated">keyboard_arrow_down</v-icon>
          <v-icon class="detailed-search-icon" @click="toggleDetailedSearch()" v-if="detailedSearchActivated">keyboard_arrow_up</v-icon>
        </transition>
      </div>
      <slide-up-down :active="detailedSearchActivated" :duration="750" class="detailed-search-area">
        <v-select
          class="search-item sort-item"
          prepend-icon="sort" :items="orderByItems" v-model="memeSearch.orderBy" @change="onOrderByChange" item-text="name" item-value="value"
        ></v-select>
        <v-switch class="search-item switch-box-item" label="Általános iroda" v-model="memeSearch.universalCityOffice" @change="onUniversalCityOfficeInput"></v-switch>
        <v-combobox
          v-model="memeSearch.cityOffice"
          :items="cityOfficeList"
          label="Kapcsolódó irodák"
          chips
          color="#d04799"
          clearable
          @change="onCityOfficeInput"
          prepend-icon="filter_list"
          class="search-item office-project-select-item"
          multiple>
          <template slot="selection" slot-scope="data">
            <v-chip
              :selected="data.selected"
              close
              color="#d04799"
              text-color="white"
              @input="removeCityOffice(data.item)">
              <strong>{{ data.item }}</strong>&nbsp;
            </v-chip>
          </template>
        </v-combobox>
        <v-switch class="search-item switch-box-item" label="Általános projekt" v-model="memeSearch.universalProject" @change="onUniversalProjectInput" :input-value="memeSearch.universalProject"></v-switch>
        <v-combobox
          v-model="memeSearch.project"
          :items="projectList"
          label="Kapcsolódó projektek"
          chips
          color="#005c89"
          clearable
          @change="onProjectInput"
          prepend-icon="filter_list"
          class="search-item office-project-select-item"
          multiple>
          <template slot="selection" slot-scope="data">
            <v-chip
              :selected="data.selected"
              close
              color="#005c89"
              text-color="white"
              @input="removeProject(data.item)">
              <strong>{{ data.item }}</strong>&nbsp;
            </v-chip>
          </template>
        </v-combobox>
          <v-btn outline color="#47ac35" @click="fillWithPreferences()">Preferenciáim</v-btn>
          <v-btn outline color="red" @click="reset()">Mezők törlése</v-btn>
      </slide-up-down>
    </v-flex>
  </v-layout>
</template>

<script>
import SlideUpDown from 'vue-slide-up-down'
import { mapState } from 'vuex'
import memeSearch from '../../modules/memeSearch'
import * as debounce from 'debounce'

export default {
  name: 'MemeSearch',
  data: () => ({
    detailedSearchActivated: false,
    searchToolTipActivated: true,
    orderByItems: [
      {
        name: 'Legújabbak elől',
        value: 'createdDate'
      },
      {
        name: 'Legjobbak elől',
        value: 'likeNumber'
      }
    ],
    cityOfficeList: ['Eger', 'Debrecen', 'Budapest'],
    projectList: ['BICON', 'OSZ', 'TÉM', 'CTA', 'GENAT']
  }),
  methods: {
    onSearchNameInput: debounce(function (str) {
      this.$emit('filterinput', str)
    }, 300),

    onOrderByChange () {
      this.$emit('orderByChanged', this.memeSearch.orderBy)
    },
    onUniversalCityOfficeInput () {
      this.$emit('universalCityOfficeChanged', this.memeSearch.universalCityOffice)
    },
    onCityOfficeInput () {
      this.$emit('cityOfficeChanged', this.memeSearch.cityOffice)
    },
    onUniversalProjectInput () {
      this.$emit('universalProjectChanged', this.memeSearch.universalProject)
    },
    onProjectInput () {
      this.$emit('projectChanged', this.memeSearch.project)
    },
    toggleDetailedSearch () {
      this.detailedSearchActivated = !this.detailedSearchActivated
      this.searchToolTipActivated = !this.searchToolTipActivated
    },
    areDetailedSearchFieldsNotEmpty () {
      if (this.memeSearch.cityOffice.length !== 0 || this.memeSearch.project.length !== 0 || this.memeSearch.universalCityOffice === true || this.memeSearch.universalProject === true || this.memeSearch.orderBy !== 'createdDate') {
        return true
      }
      return false
    },
    removeCityOffice (item) {
      this.memeSearch.cityOffice.splice(this.memeSearch.cityOffice.indexOf(item), 1)
      this.memeSearch.cityOffice = [...this.memeSearch.cityOffice]
      this.$emit('cityOfficeChanged', this.memeSearch.cityOffice)
    },
    removeProject (item) {
      this.memeSearch.project.splice(this.memeSearch.project.indexOf(item), 1)
      this.memeSearch.project = [...this.memeSearch.project]
      this.$emit('projectChanged', this.memeSearch.project)
    },
    fillWithPreferences () {
      this.memeSearch.project = this.auth.loggedInUser.projects
      this.memeSearch.cityOffice = this.auth.loggedInUser.cityOffices
      this.$emit('cityOfficeChanged', this.memeSearch.cityOffice.map(co => co.name))
      this.$emit('projectChanged', this.memeSearch.project.map(p => p.name))
    },
    reset () {
      this.memeSearch.universalSearchStr = ''
      this.$emit('filterinput', memeSearch.universalSearchStr)
      this.memeSearch.orderBy = 'createdDate'
      this.$emit('orderByChanged', this.memeSearch.orderBy)
      this.memeSearch.universalCityOffice = false
      this.$emit('universalCityOfficeChanged', this.memeSearch.universalCityOffice)
      this.memeSearch.cityOffice = []
      this.$emit('cityOfficeChanged', this.memeSearch.cityOffice)
      this.memeSearch.universalProject = false
      this.$emit('universalProjectChanged', this.memeSearch.universalProject)
      this.memeSearch.project = []
      this.$emit('projectChanged', this.memeSearch.project)
    }
  },
  computed: {
    ...mapState([
      'memeSearch',
      'auth'
    ])
  },
  components: {
    SlideUpDown
  }
}
</script>

<style scoped>
  .search-layout {
    margin-top: 15px;
  }
  .search-item {
    margin: 1em
  }
  .sort-item {
   margin-top: 0;
   padding-top: 0;
  }
  .detailed-search-area {
    height: 415px;
  }
  .switch-box-item {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .office-project-select-item {
    margin-top: 0;
    padding-top: 0;
  }
  .detailed-search-activator {
    margin-top: 15px;
    text-align: center;
  }
  .detailed-search-icon {
    font-size: 40px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .pulse {
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 4s infinite;
    width: 35px;
    height: 35px;
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(208,71,153, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(208,71,153, 0.4);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(208,71,153, 0.4);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(208,71,153, 0.4);
      box-shadow: 0 0 0 0 #d04799;
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(208,71,153, 0.4);
      box-shadow: 0 0 0 10px rgba(208,71,153, 0.4);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(208,71,153, 0.4);
      box-shadow: 0 0 0 0 rgba(208,71,153, 0.4);
    }
  }
</style>
