<template>
  <v-layout class="meme-card-row">
    <v-flex xs12 sm12 md8 lg6 offset-xs0 offset-sm0 offset-md2 offset-lg3>
      <v-alert
        v-model="alert"
        dismissible
        type="success">
        Meme sikeresen feltöltve!
      </v-alert>
      <v-card class="meme-card">
        <v-icon
          class="zoom"
          @click="increaseDecreaseMemeWidth()"
        >{{ screenIcon }}</v-icon>
        <vue-load-image>
          <img slot="image" :src="meme.meme.picUrl" :style="{'width': memewidth}" class="smaller-img" :class="{'bigger-img': memewidth === '650px'}"/>
          <img slot="preloader" src="../../assets/kraken_loading.gif"/>
          <div slot="error">error message</div>
        </vue-load-image>
        <div class="meme-headline">
          <div class="headline">{{ meme.meme.name }}</div>
          <div class="headline">
            <div v-if="meme.meme.projects.length > 0">
              <template v-for="(project, index) in meme.meme.projects">
                <v-chip color="#005c89" text-color="white">{{ project.name }}</v-chip>
              </template>
            </div>
            <div v-else>
              <v-chip outline color="#005c89" text-color="#005c89">Általános projekt</v-chip>
            </div>
          </div>
          <div class="headline">
            <div v-if="meme.meme.cityOffices.length > 0">
              <template v-for="(cityOffice, index) in meme.meme.cityOffices">
                <v-chip color="#d04799" text-color="white">{{ cityOffice.name }}</v-chip>
              </template>
            </div>
            <div v-else>
              <v-chip outline color="#d04799" text-color="#d04799">Általános iroda</v-chip>
            </div>
          </div>
          <div>
            <v-btn flat icon color="grey">
              <vue-star animate="animated rotateIn" :active="checkIfLiked(meme.meme.id)" color="#47ac35">
                <v-icon slot="icon" @click="likeMeme(meme.meme.id)" class="like-icon">thumb_up</v-icon>
              </vue-star>
            </v-btn>
            <span class="grey--text">{{ meme.meme.likes.length }} lájk</span>
          </div>
          <span class="grey--text">Feltöltő: {{ meme.meme.user.username }}</span>
          <div class="copy-div">
            <transition name="fade" mode="out-in">
              <v-icon v-if="copyManager.memeId !== meme.meme.id" v-clipboard:copy="thingToCopy(meme.meme.id)" @click="copyAlertManager(meme.meme.id)">mdi-content-copy</v-icon>
              <v-alert class="copy-success-alert" v-if="copyManager.memeId === meme.meme.id"
                       :value="true"
                       type="success">Link KOPIZVA</v-alert>
            </transition>
          </div>
        </div>
        <div class="meme-actions">
          <v-spacer></v-spacer>
        </div>
      </v-card>
      <v-btn to="/memes">Vissza a mém listára</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Api from '@/services/api'
import VueLoadImage from 'vue-load-image'
import VueStar from '../like/VueStar'

export default {
  data: () => ({
    alert: false,
    copyManager: {
      memeId: null,
      showCopySuccess: false
    },
    screenIcon: 'fullscreen',
    memewidth: '350px'
  }),
  computed: {
    ...mapState([
      'meme'
    ])
  },
  beforeCreate: function () {
    this.$store.dispatch('getMemeById', {
      memeId: this.$route.params.memeId
    })
    if (this.$store.state.meme.memeSuccessAlert) {
      this.alert = true
    }
  },
  destroyed () {
    this.$store.dispatch('resetMemeState', {})
  },
  methods: {
    likeMeme (memeId) {
      Api().post('/like/save', {
        memeId: memeId,
        userId: this.$store.state.auth.loggedInUser.id
      })
        .then(res => {
          if (res.data) {
            this.meme.meme.likes.push(
              {
                memeId: memeId,
                user: {
                  username: this.$store.state.auth.loggedInUser.username
                }
              }
            )
          } else {
            this.meme.meme.likes.splice(
              this.meme.meme.likes.map(obj => obj.user.username).indexOf(this.$store.state.auth.loggedInUser.username), 1
            )
          }
        })
        .catch(error => console.log(error))
    },
    increaseDecreaseMemeWidth () {
      if (this.memewidth === '350px') {
        this.memewidth = '90%'
        this.screenIcon = 'fullscreen_exit'
      } else {
        this.memewidth = '350px'
        this.screenIcon = 'fullscreen'
      }
    },
    checkIfLiked () {
      if (this.meme.meme.likes) {
        if (this.meme.meme.likes.map(obj => obj.user.username).indexOf(this.$store.state.auth.loggedInUser.username) !== -1) {
          return true
        }
      }
      return false
    },
    thingToCopy (memeId) {
      // return 'http://localhost:8080/memes/' + memeId
      // return 'http://innomemes-frontend.s3-website.eu-central-1.amazonaws.com/memes/' + memeId
      return 'http://mem.innovitech.hu/memes/' + memeId
    },
    copyAlertManager (memeId) {
      this.copyManager.memeId = memeId
      this.copyManager.showCopySuccess = !this.copyManager.showCopySuccess
    }
  },
  components: {
    VueStar,
    'vue-load-image': VueLoadImage
  }
}
</script>
