<template>
  <div>
    <MemeSearch @filterinput="localSearchUpdate"
                @orderByChanged="orderByUpdate"
                @cityOfficeChanged="cityOfficeUpdate"
                @projectChanged="projectUpdate"
                @universalCityOfficeChanged="universalCityOfficeUpdate"
                @universalProjectChanged="universalProjectUpdate">
    </MemeSearch>
    <template v-for="(meme, index) in memeList">
      <v-layout row class="meme-card-row">
        <v-flex xs12 sm12 md8 lg6 offset-xs0 offset-sm0 offset-md2 offset-lg3>
          <v-card class="meme-card">
            <div class="headline meme-name-headline">
              <router-link :to="{ name: 'memeDetails', params: { memeId: meme.id }}" class="meme-name">
                {{ meme.name }}
              </router-link>
            </div>
            <v-icon
              class="zoom"
              @click="increaseDecreaseMemeWidth(index)"
            >{{ meme.screenIcon }}
            </v-icon>
            <transition name="fade" mode="out-in">
              <vue-load-image>
                <img slot="image" :src="meme.picUrl" :style="{'width': meme.memewidth}" class="smaller-img"
                     :class="{'bigger-img': meme.memewidth === '95%'}"/>
                <img slot="preloader" src="../../assets/kraken_loading.gif"/>
                <div slot="error">error message</div>
              </vue-load-image>
            </transition>
            <div class="meme-headline">
              <div class="headline">
                <div v-if="meme.projects.length > 0">
                  <template v-for="(project, index) in meme.projects">
                    <v-chip color="#005c89" text-color="white">{{ project.name }}</v-chip>
                  </template>
                </div>
                <div v-else>
                  <v-chip outline color="#005c89" text-color="#005c89">Általános projekt</v-chip>
                </div>
              </div>
              <div class="headline">
                <div v-if="meme.cityOffices.length > 0">
                  <template v-for="(cityOffice, index) in meme.cityOffices">
                    <v-chip color="#d04799" text-color="white">{{ cityOffice.name }}</v-chip>
                  </template>
                </div>
                <div v-else>
                  <v-chip outline color="#d04799" text-color="#d04799">Általános iroda</v-chip>
                </div>
              </div>
              <div>
                <v-btn flat icon color="grey">
                  <vue-star animate="animated rotateIn" :active="checkIfLiked(meme.id, index)" color="#47ac35">
                    <v-icon slot="icon" @click="likeMeme(meme.id, index)" class="like-icon">thumb_up</v-icon>
                  </vue-star>
                </v-btn>
                <span class="grey--text">{{ meme.likes.length }} lájk</span>
              </div>
              <span class="grey--text">Feltöltő: {{ meme.user.username }}</span>
              <div class="copy-div">
                <transition name="fade" mode="out-in">
                  <v-icon v-if="copyManager.memeId !== meme.id" v-clipboard:copy="thingToCopy(meme.id)"
                          @click="copyAlertManager(meme.id)">mdi-content-copy
                  </v-icon>
                  <v-alert class="copy-success-alert" v-if="copyManager.memeId === meme.id"
                           :value="true"
                           type="success">Link KOPIZVA
                  </v-alert>
                </transition>
              </div>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </template>
    <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
      <div slot="no-more"></div>
      <div slot="no-results">Nincs találat :(</div>
    </infinite-loading>
  </div>
</template>

<script>
import Api from '@/services/api'
import MemeSearch from './MemeSearch'
import InfiniteLoading from 'vue-infinite-loading'
import VueLoadImage from 'vue-load-image'
import VueStar from '../like/VueStar'
import { mapState } from 'vuex'

export default {
  data: () => ({
    memeList: [],
    page: 0,
    pageSize: 5,
    infiniteId: +new Date(),
    copyManager: {
      memeId: null,
      showCopySuccess: false
    }
  }),
  methods: {
    infiniteHandler ($state) {
      Api().post('/memes', {
        memeListPagingRequest: {
          pageSize: this.pageSize,
          page: this.page
        },
        memeListSearchRequest: {
          universalSearchStr: this.$store.state.memeSearch.universalSearchStr,
          isNotSpecificCityOffice: this.$store.state.memeSearch.universalCityOffice,
          cityOfficeNames: this.$store.state.memeSearch.cityOffice,
          isNotSpecificProject: this.$store.state.memeSearch.universalProject,
          projectNames: this.$store.state.memeSearch.project
        },
        orderBy: this.$store.state.memeSearch.orderBy
      }).then(res => {
        if (res.data.content.length) {
          this.page += 1
          this.memeList.push(...res.data.content)
          $state.loaded()
        } else {
          $state.complete()
        }
      })
    },
    localSearchUpdate (nameSearchText) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeUniversalSearchStr', {
        search: nameSearchText
      })
    },
    orderByUpdate (orderBy) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeOrderBy', {
        orderBy: orderBy
      })
    },
    universalCityOfficeUpdate (isUniversalCityOffice) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeUniversalCityOffice', {
        search: isUniversalCityOffice
      })
    },
    cityOfficeUpdate (cityOffices) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeCityOfficeSearch', {
        search: cityOffices
      })
    },
    universalProjectUpdate (isUniversalProject) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeUniversalProject', {
        search: isUniversalProject
      })
    },
    projectUpdate (projects) {
      this.page = 0
      this.memeList = []
      this.infiniteId += 1
      this.$store.dispatch('setMemeProjectSearch', {
        search: projects
      })
    },
    increaseDecreaseMemeWidth (index) {
      if (this.memeList[index].memewidth === '350px') {
        this.memeList[index].memewidth = '95%'
        this.memeList[index].screenIcon = 'fullscreen_exit'
        this.$set(this.memeList, index, this.memeList[index])
      } else {
        this.memeList[index].memewidth = '350px'
        this.memeList[index].screenIcon = 'fullscreen'
        this.$set(this.memeList, index, this.memeList[index])
      }
    },
    likeMeme (memeId, index) {
      Api().post('/like/save', {
        memeId: memeId,
        userId: this.$store.state.auth.loggedInUser.id
      })
        .then(res => {
          if (res.data) {
            this.memeList[index].likes.push(
              {
                memeId: memeId,
                user: {
                  username: this.$store.state.auth.loggedInUser.username
                }
              }
            )
          } else {
            this.memeList[index].likes.splice(
              this.memeList[index].likes.map(obj => obj.user.username).indexOf(this.$store.state.auth.loggedInUser.username), 1
            )
          }
        })
        .catch(error => console.log(error))
    },
    checkIfLiked (memeId, index) {
      if (this.memeList[index].likes.map(obj => obj.user.username).indexOf(this.$store.state.auth.loggedInUser.username) !== -1) {
        return true
      }
      return false
    },
    thingToCopy (memeId) {
      // return 'http://localhost:8080/memes/' + memeId
      // return 'http://innomemes-frontend.s3-website.eu-central-1.amazonaws.com/memes/' + memeId
      return 'https://mem.innovitech.hu/memes/' + memeId
    },
    copyAlertManager (memeId) {
      this.copyManager.memeId = memeId
      this.copyManager.showCopySuccess = !this.copyManager.showCopySuccess
    }
  },
  computed: {
    ...mapState([
      'cityOffice',
      'project',
      'auth'
    ])
  },
  components: {
    MemeSearch,
    InfiniteLoading,
    VueStar,
    'vue-load-image': VueLoadImage
  },
  watch: {
    memeList: function () {
      this.memeList.forEach(
        function (element) {
          if (!element.memewidth) {
            element.memewidth = '350px'
          }
          if (!element.screenIcon) {
            element.screenIcon = 'fullscreen'
          }
        }
      )
    }
  }
}

</script>

<style>
  .meme-card {
    text-align: center;
    margin-bottom: 50px;
  }

  .meme-name-headline {
    padding-top: 10px;
  }

  .meme-image {
    margin: 1em;
    max-width: 350px;
  }

  .meme-name {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.70)
  }

  .meme-card-row {
    margin-top: 15px;
  }

  .like-icon {
    font-size: 2.2em;
  }

  .copy-div {
    margin-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }

  .copy-success-alert {
    display: inline-flex;
    height: 20px;
    opacity: 0.7;
    margin-top: 0;
  }

  .zoom {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    font-size: 35px;
  }

  .bigger-img {
    margin: 1em;
    width: 350px;
    max-width: 350px;
    transition: width 1s;
  }

  .smaller-img {
    margin: 1em;
    width: 650px;
    max-width: 650px;
    transition: width 1s;
  }

  @media (max-width: 767px) {

    .zoom {
      display: none
    }
  }
</style>
