<template>
  <form ref="form">
    <page-header title="Új Meme Feltöltése"></page-header>
    <v-layout class="memeupload-stuff">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card>
          <v-flex xs10 sm10 offset-xs1 offset-sm1 class="first-input">
            <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              label="Meme Neve"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <vuetifyCloudinaryUpload
              v-model="image"
              upload-preset="r6vtst4o"
              cloud-name="gyurmatag"
              @imgUrl="setImageUrl"
              @error="setErrorAlert"
              :button-text="angryImageUploadWarning"
              :button-color="angryImageButtonColor">
            </vuetifyCloudinaryUpload>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-alert
              v-model="imageUploadFailAlert"
              dismissible
              transition="scale-transition"
              type="error">
              Csak kép feltöltése engedélyezett!
            </v-alert>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-alert
              :value="true"
              color="info"
              icon="info"
              outline>
              Add meg mely irodá(k)hoz és projekt(ek)hez kapcsolódik a mémed!
            </v-alert>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-switch label="Nem kapcsolódik konkrét irodához" v-model="isUniversalOffice"></v-switch>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-combobox
              v-model="cityOffice"
              :items="cityOfficeList"
              label="Kapcsolódó irodák"
              :disabled="isUniversalOffice"
              :error-messages="checkIfCityOfficeFilled()"
              chips
              color="#d04799"
              clearable
              prepend-icon="filter_list"
              multiple
              @input="$v.cityOffice.$touch()"
              @blur="$v.cityOffice.$touch()">
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#d04799"
                  text-color="white"
                  @input="removeCityOffice(data.item)">
                  <strong>{{ data.item }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-switch label="Nem kapcsolódik konkrét projekthez" v-model="isUniversalProject"></v-switch>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-combobox
              v-model="project"
              :items="projectList"
              label="Kapcsolódó projektek"
              :disabled="isUniversalProject"
              :error-messages="checkIfProejctFilled()"
              chips
              color="#005c89"
              clearable
              prepend-icon="filter_list"
              multiple
              @input="$v.project.$touch()"
              @blur="$v.project.$touch()">
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#005c89"
                  text-color="white"
                  @input="removeProject(data.item)">
                  <strong>{{ data.item }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
            <v-btn @click="submit" :disabled="isDisabled" @mouseover="checkIfImgUploaded()" @mouseleave="unCheckIfImgUploaded()" class="uploadbutton" color="#47ac35">Felvétel</v-btn>
          </v-flex>
          <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
            <v-btn @click="$router.go(-1)">Mégse</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import vuetifyCloudinaryUpload from 'vuetify-cloudinary-upload'
import PageHeader from '../static/PageHeader'

export default {
  mixins: [validationMixin],

  validations: {
    name: { required, minLength: minLength(3), maxLength: maxLength(40) },
    cityOffice: { required },
    project: { required }
  },

  data: () => ({
    name: '',
    image: '',
    imageUrl: '',
    cityOfficeList: ['Eger', 'Debrecen', 'Budapest'],
    cityOffice: [],
    projectList: ['BICON', 'OSZ', 'TÉM', 'CTA', 'GENAT'],
    project: [],
    memeSuccessAlert: false,
    isUniversalOffice: false,
    isUniversalProject: false,
    angryImageUploadWarning: 'Kép feltöltése',
    angryImageButtonColor: '#47ac35',
    imageUploadFailAlert: false,
    isDisabled: false
  }),
  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.minLength && errors.push('A meme nevének minimum 3 karakteresnek kell lennie')
      !this.$v.name.maxLength && errors.push('A meme neve maximum 40 karakter lehet')
      !this.$v.name.required && errors.push('A meme név kitöltése kötelező')
      return errors
    }
  },

  components: {
    PageHeader,
    vuetifyCloudinaryUpload
  },

  methods: {
    submit () {
      this.$v.$touch()
      if (!this.isUniversalProject && !this.isUniversalOffice) {
        if (this.$v.$pending || this.$v.$error) return
      }
      if (this.imageUrl === '') return
      this.$store.dispatch('uploadMeme', {
        name: this.name,
        projectNames: this.project,
        cityOfficeNames: this.cityOffice,
        picUrl: this.imageUrl,
        router: this.$router,
        vm: this
      })
    },
    removeCityOffice (item) {
      this.cityOffice.splice(this.cityOffice.indexOf(item), 1)
      this.cityOffice = [...this.cityOffice]
    },
    removeProject (item) {
      this.project.splice(this.project.indexOf(item), 1)
      this.project = [...this.project]
    },
    setImageUrl (imageUrl) {
      this.imageUrl = imageUrl
    },
    setErrorAlert (error) {
      this.imageUploadFailAlert = true
    },
    checkIfImgUploaded () {
      if (this.imageUrl === '' || this.imageUrl == null) {
        this.angryImageUploadWarning = 'Ide a mémedet'
        this.angryImageButtonColor = '#ff5252'
      }
    },
    unCheckIfImgUploaded () {
      this.angryImageUploadWarning = 'Kép feltöltése'
      this.angryImageButtonColor = '#47ac35'
    },
    checkIfCityOfficeFilled () {
      if (!this.$v.cityOffice.$dirty) return
      return (this.cityOffice.length !== 0 || this.isUniversalOffice) ? '' : 'Vagy add meg hova tarozik a mémed vagy add meg, hogy általános'
    },
    checkIfProejctFilled () {
      if (!this.$v.project.$dirty) return
      return (this.project.length !== 0 || this.isUniversalProject) ? '' : 'Vagy add meg hova tarozik a mémed vagy add meg, hogy általános'
    }
  },
  watch: {
    isUniversalOffice: function () {
      this.cityOffice = []
    },
    isUniversalProject: function () {
      this.project = []
    }
  }
}
</script>

<style scoped>
  .memeupload-title-card {
    margin-top: 25px;
  }
  .newmeme-title {
    background-image: linear-gradient(to right, #d04799, #005c89);
    opacity: 0.5
  }
  .uploadmeme-title {
    color: white;
  }
  .memeupload-stuff {
    margin-top: 10px;
  }
  button.uploadbutton.v-btn.theme--light {
    margin-top: 20px;
    color: white
  }
</style>
