<template>
  <v-toolbar app color="white">
    <v-toolbar-title class="headline text-uppercase" to="/memes">
      <router-link to="/"><img src="../../assets/innomemes2.png" class="logo"></router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn v-if="checkIfLoggedOut()" to="/uploadMeme" icon>
      <v-icon>add</v-icon>
    </v-btn>
    <v-btn v-if="checkIfLoggedOut()" to="/ranks" icon>
      <v-icon class="trophy-icon">mdi-trophy-variant</v-icon>
    </v-btn>
    <v-btn v-if="checkIfLoggedOut()" to="/myProfile" icon>
      <v-icon>person</v-icon>
    </v-btn>
    <v-btn v-if="checkIfLoggedOut()" @click="logoutUser()" icon>
      <v-icon>logout</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    logoutUser () {
      this.$store.dispatch('logoutUser', {})
      this.$router.push('/login')
    },
    checkIfLoggedOut () {
      return this.$store.state.auth.authToken !== null
    }
  }
}
</script>

<style>
  .logo {
    max-height: 45px;
  }
  .trophy-icon {
    font-size: 20px;
  }
</style>
