<template>
    <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
      <v-card class="title-card">
        <v-toolbar card class="title">
          <v-toolbar-title class="inner-title">{{ title }}</v-toolbar-title>
        </v-toolbar>
      </v-card>
    </v-flex>
</template>

<script>
export default {
  props: ['title']
}
</script>

<style scoped>
  .title-card {
    margin-top: 25px;
  }
  .title {
    background-image: linear-gradient(to right, #d04799, #005c89);
    opacity: 0.5
  }
  .inner-title {
    color: white;
  }
</style>
