<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialogValue" max-width="290">
      <v-card>
        <v-card-title class="headline">Belépesi tokened {{ auth.secondsTillExpire ? auth.secondsTillExpire.toFixed(0) : '' }} mp múlva lejár</v-card-title>
        <v-card-text>Szeretnéd meghosszabbítani a tokenedet újabb 1 nappal?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="refreshToken()">Igen</v-btn>
          <v-btn color="red darken-1" flat @click="notRefreshToken()">Nem</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: ['dialog'],
  data () {
    return {
      dialogValue: this.dialog
    }
  },
  computed: {
    ...mapState([
      'auth'
    ])
  },
  watch: {
    dialog: function (newVal, oldVal) { // watch it
      this.dialogValue = true
    }
  },
  methods: {
    refreshToken () {
      this.$store.dispatch('refreshToken')
      this.dialogValue = false
    },
    notRefreshToken () {
      this.dialogValue = false
    }
  }
}
</script>

<style>
</style>
