@import 'ColorBase64.less';

.VueStar{
  position: absolute;
}
.VueStar__ground {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VueStar__icon {
  z-index: 1; /*❤今年888大发*/
}
.VueStar__decoration {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  .base64();
  background-position: 0 0;
  transition: background-position 1s steps(25);
  transition-duration: 0s;
  &--active {
    transition-duration: 1s;
    background-position: -2500px 0;
  }
}
