<template>
  <v-app>
    <Header/>
    <v-content>
      <router-view/>
    </v-content>
    <TokenExpirePopup :dialog="expirePopUpVisible"/>
  </v-app>
</template>

<script>
import Header from './components/static/Header'
import TokenExpirePopup from './components/static/TokenExpirePopUp'
import { mapState } from 'vuex'

export default {
  name: 'App',
  components: {
    Header,
    TokenExpirePopup
  },
  data () {
    return {
      interval: null,
      expirePopUpVisible: false
    }
  },
  computed: {
    ...mapState([
      'auth',
      'base'
    ]),
    someComputedLocalState () {
      // is triggered whenever the store state changes
      return this.auth + ' works too'
    }
  },
  created () {
    this.$store.dispatch('convertExpireTimeToDate', this.auth.expireTime)
    this.interval = setInterval(function () {
      this.$store.dispatch('updateSecondsTillExpire', this.auth.expireTime)
    }.bind(this), 1000)
  },
  methods: {},
  watch: {
    '$store.state.auth.secondsTillExpire': function () {
      if (this.auth.secondsTillExpire < 85680 && this.auth.secondsTillExpire > 84960) {
        this.expirePopUpVisible = true
      }
      if (this.auth.secondsTillExpire < 2 && this.auth.secondsTillExpire > 0) {
        this.$store.dispatch('logoutUser', {})
        clearInterval(this.interval)
        this.$router.push('/login')
      }
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  }
}
</script>
