<template>
  <v-form>
    <v-layout class="login-stuff">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card>
          <v-alert
            v-model="loginFailAlert"
            dismissible
            transition="scale-transition"
            type="error">
            Hibás felhasználónév és/vagy jelszó!
          </v-alert>
          <v-alert
            v-model="loginNotYetActivatedFailAlert"
            dismissible
            transition="scale-transition"
            type="error">
            Ez a felhasználó még nincs aktiválva!
          </v-alert>
          <v-alert
            v-model="emailSentAlert"
            dismissible
            transition="scale-transition"
            type="success">
            E-mail kiküldve megerősítő kóddal!
          </v-alert>
          <v-alert
            v-model="activationSuccessAlert"
            dismissible
            transition="scale-transition"
            type="success">
            A fiókod aktiválva van, be tudsz lépni!
          </v-alert>
          <v-alert
            v-model="activationFailAlert"
            dismissible
            transition="scale-transition"
            type="error">
            Nem jó aktiváló kód!
          </v-alert>
          <v-flex xs10 sm10 offset-xs1 offset-sm1 class="first-input">
            <v-text-field
              v-model="username"
              :error-messages="usernameErrors"
              label="Felhasználónév"
              required
              color="#d04799"
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-text-field
              v-model="password"
              type="password"
              :error-messages="passwordErrors"
              label="Jelszó"
              required
              color="#005c89"
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm6 md4 d-flex offset-xs1 offset-sm3 offset-md4>
            <v-btn @click="submit" :disabled="isDisabled" color="#47ac35" @mouseover="setFunnyLoginButtonText()" class="loginbutton">{{ funnyLoginButtonText }}</v-btn>
          </v-flex>
          <v-flex>
            <p class="register-question">Nincs még fiókod?
              <v-btn to="/signUp" small flat class="register-button" color="#47ac35">Regisztrálj</v-btn>
            </p>
          </v-flex>
          <v-flex class="forgotpw">
            <v-btn to="/resetPasswordClaim" small flat class="register-button" color="#F44336">Nem tudom a jelszavam</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { mapState } from 'vuex'

export default {
  mixins: [validationMixin],

  validations: {
    username: { required, minLength: minLength(3), maxLength: maxLength(30) },
    password: { required, minLength: minLength(6), maxLength: maxLength(30) }
  },
  data: () => ({
    username: '',
    password: '',
    funnyLoginButtonText: 'Bejelentkezés',
    isLoginHovered: false,
    loginFailAlert: false,
    loginNotYetActivatedFailAlert: false,
    emailSentAlert: false,
    activationSuccessAlert: false,
    activationFailAlert: false,
    isDisabled: false
  }),
  computed: {
    ...mapState([
      'auth'
    ]),
    usernameErrors () {
      const errors = []
      if (!this.$v.username.$dirty) return errors
      !this.$v.username.minLength && errors.push('A felhasználó név minimum 3 karakteres')
      !this.$v.username.maxLength && errors.push('A felhasználó neved 30 karakter lehet max')
      !this.$v.username.required && errors.push('A felhasználó név kitöltése kötelező')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('A jelszavad legalább 6 karakteres')
      !this.$v.password.maxLength && errors.push('A jelszavad 30 karakteres lehet max')
      !this.$v.password.required && errors.push('A jelszavad kitöltése kötelező')
      return errors
    }
  },
  created: function () {
    if (this.auth.emailSentAlert) {
      this.emailSentAlert = true
    }
    if (this.$route.params.code) {
      this.$store.dispatch('activateUser', {
        code: this.$route.params.code,
        vm: this
      })
    }
  },
  destroyed: function () {
    this.$store.dispatch('resetEmailAlert', {})
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (this.$v.$pending || this.$v.$error) return
      this.$store.dispatch('loginUser', {
        username: this.username,
        password: this.password,
        vm: this
      })
    },
    setFunnyLoginButtonText () {
      if (!this.isLoginHovered) {
        this.isLoginHovered = true
        this.funnyLoginButtonText = 'Bicon szín ismerős?'
        let vm = this
        setTimeout(function () {
          vm.setBackNormalLoginButtonText()
        }, 425)
      }
    },
    setBackNormalLoginButtonText () {
      this.funnyLoginButtonText = 'Bejelentkezés'
    }
  }
}
</script>

<style>
  .v-input--has-state.error--text .v-label  {
    animation: none!important;
  }
  .login-stuff {
    margin-top: 20px;
    margin-bottom: 9px
  }
  .register-button {
    text-transform: none !important;
  }
  .forgotpw {
    text-align: right;
  }
  .register-question {
    text-align: center;
  }
  button.loginbutton.v-btn.theme--light {
    color: white
  }
  .first-input {
    padding-top: 15px;
  }
</style>
