<template>
  <v-form>
    <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
      <v-icon>person</v-icon>
      <h2 class="profile-header">{{ auth.loggedInUser.username }} profilja</h2>
    </v-flex>
    <page-header title="Meme Preferenciák"></page-header>
    <v-layout class="profile-stuff">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card>
          <v-flex xs10 sm10 offset-xs1 offset-sm1 class="first-input">
            <v-combobox
              v-model="auth.loggedInUser.cityOffices"
              @change="onUserProfileCityOfficeInput"
              item-text="name"
              :items="base.cityOffices"
              label="Kapcsolódó irodák"
              chips
              color="#d04799"
              clearable
              prepend-icon="filter_list"
              multiple>
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#d04799"
                  text-color="white"
                  @input="removeCityOffice(data.item)">
                  <strong>{{ data.item.name  }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-combobox
              v-model="auth.loggedInUser.projects"
              @change="onUserProfileProjectInput"
              :items="base.projects"
              item-text="name"
              item-value="name"
              label="Kapcsolódó projektek"
              chips
              color="#005c89"
              clearable
              prepend-icon="filter_list"
              multiple
              return-object>
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#005c89"
                  text-color="white"
                  @input="removeProject(data.item)">
                  <strong>{{ data.item.name }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
            <v-btn @click="$router.go(-1)">Vissza</v-btn>
          </v-flex>
        </v-card>
        <v-flex >
          <v-card class="token-stuff" color="orange">
              <h4 class="countdown"><strong>Token lejár:</strong> {{ formatDate(auth.expireTime.toLocaleString()) }}</h4>
              <h4 class="countdown"><strong>Token visszaszámláló:</strong> {{ auth.secondsTillExpire.toFixed(0) }}</h4>
              <v-btn @click="refreshToken()" small color="success">Token Frissítése</v-btn>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { mapState } from 'vuex'
import PageHeader from '../static/PageHeader'

export default {
  components: {
    PageHeader
  },
  name: 'Timer',
  data: () => ({
    initialCityOfficeListData: null,
    initialProjectListData: null,
    countDownSeconds: null,
    expireSeconds: 0
  }),
  created: function () {
    this.$store.dispatch('getLoggedInUser', {
      userToken: this.auth.authToken
    })
  },
  mounted () {
    this.initialCityOfficeListData = this.$store.state.auth.loggedInUser.cityOffices
    this.initialProjectListData = this.$store.state.auth.loggedInUser.projects
  },
  computed: {
    ...mapState([
      'auth',
      'base'
    ])
  },
  methods: {
    removeCityOffice (item) {
      this.$store.dispatch('removeUserCityOffice', item)
      this.$store.dispatch('updateUser', {
        cityOfficeList: this.auth.loggedInUser.cityOffices,
        projectList: this.auth.loggedInUser.projects,
        userId: this.auth.loggedInUser.id
      })
    },
    removeProject (item) {
      this.$store.dispatch('removeUserProject', item)
      this.$store.dispatch('updateUser', {
        cityOfficeList: this.auth.loggedInUser.cityOffices,
        projectList: this.auth.loggedInUser.projects,
        userId: this.auth.loggedInUser.id
      })
    },
    onUserProfileCityOfficeInput (value) {
      this.$store.dispatch('setUserNewCityOffices', value)
      this.$store.dispatch('updateUser', {
        cityOfficeList: this.auth.loggedInUser.cityOffices,
        projectList: this.auth.loggedInUser.projects,
        userId: this.auth.loggedInUser.id
      })
    },
    onUserProfileProjectInput (value) {
      this.$store.dispatch('setUserNewProjects', value)
      this.$store.dispatch('updateUser', {
        cityOfficeList: this.auth.loggedInUser.cityOffices,
        projectList: this.auth.loggedInUser.projects,
        userId: this.auth.loggedInUser.id
      })
    },
    refreshToken () {
      this.$store.dispatch('refreshToken')
    },
    formatDate (dateString) {
      const date = new Date(dateString)
      let month = `${date.getMonth() + 1}`
      let day = `${date.getDate()}`
      let hour = `${date.getHours()}`
      let minute = `${(date.getMinutes() < 10 ? '0' : '') + date.getMinutes()}`
      let seconds = `${(date.getSeconds() < 10 ? '0' : '') + date.getSeconds()}`
      const year = date.getFullYear()

      if (month.length < 2) month = `0${month}`
      if (day.length < 2) day = `0${day}`

      return [year, month, day].join('-') + ' ' + hour + ':' + minute + ':' + seconds
    }
  }
}
</script>

<style scoped>
  .profile-header {
    display: inline-block;
    color: #757575;
    margin-top: 25px;
  }
  .profile-title-card {
    margin-top: 25px;
  }
  .profile-title {
    background-image: linear-gradient(to right, #d04799 , #005c89);
    opacity: 0.5
  }
  .profile-title-text {
    color: white;
  }
  .profile-stuff {
    margin-top: 10px;
  }
  button.registerbutton.v-btn.theme--light {
    margin-top: 20px;
    color: white
  }
  .token-stuff {
    opacity: 0.8;
    text-align: center;
  }
  .countdown {
    margin: 20px;
    padding: 2px;
    text-align: center;
  }
</style>
