<template>
  <div>
    <page-header title="Új Jelszó beállítása"></page-header>
    <v-layout class="meme-card-row">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card>
          <v-alert
            v-model="passwordResetTokenIncorrect"
            transition="scale-transition"
            type="error">
            Nem jó a jelszó helyreállító kód!
          </v-alert>
          <v-alert
            v-model="passwordChanged"
            transition="scale-transition"
            type="success">
            Jelszó megváltoztatva!
          </v-alert>
          <v-btn v-if="passwordChanged" to="/login" small flat class="register-button" color="#47ac35">Belépek</v-btn>
          <v-form v-if="isFormVisible">
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
              <v-text-field
                v-model="password"
                type="password"
                :error-messages="passwordErrors"
                label="Új Jelszó"
                :hint="password.length ? strength : ''"
                required
                color="#005c89"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()">
              </v-text-field>
            </v-flex>
            <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
              <v-btn @click="submit" :disabled="isSubmitDisabled" class="password-reset-send-button" color="#47ac35">Mehet</v-btn>
            </v-flex>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import PageHeader from '../static/PageHeader'
import { mapState } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    password: { required, minLength: minLength(6), maxLength: maxLength(30) }
  },
  data: () => ({
    password: '',
    isSubmitDisabled: false,
    isFormVisible: true,
    passwordResetTokenIncorrect: false,
    passwordResetCode: '',
    passwordChanged: false
  }),
  components: { PageHeader },
  methods: {
    submit () {
      this.$v.$touch()
      if (this.$v.$pending || this.$v.$error) return
      this.$store.dispatch('changePassword', {
        password: this.password,
        passwordResetCode: this.passwordResetCode,
        vm: this
      })
    }
  },
  computed: {
    ...mapState([
      'auth'
    ]),
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('A jelszavadnak legalább 6 karakternek kell lennie')
      !this.$v.password.maxLength && errors.push('A jelszavad max 30 karakter lehet')
      !this.$v.password.required && errors.push('A jelszavad kitöltése kötelező')
      return errors
    },
    strength () {
      // TODO: ezen még bőven finomítani
      const length = this.password.length
      const strength = {
        'Erős': length >= 14,
        'Közepes': length < 14 && length >= 8,
        'Gyenge': length < 8
      }
      return Object.keys(strength).find(key => strength[key])
    }
  },
  mounted () {
    this.passwordResetCode = this.$route.params.code
    this.$store.dispatch('checkIfResetCodeCorrect', {
      passwordResetCode: this.passwordResetCode,
      vm: this
    })
  },
  destroyed () {
    this.isFormVisible = true
    this.passwordResetTokenIncorrect = false
    this.passwordChanged = false
  }
}
</script>

<style scoped>
  .kraken-card-default {
    text-align: center;
    margin-bottom: 50px;
  }

  .kraken-card-danger {
    background-color: #F44336;
    text-align: center;
    margin-bottom: 50px;
  }

  .kraken-card-success {
    background-color: #47ac35;
    text-align: center;
    margin-bottom: 50px;
  }

  #krakenbox {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .kraken {
    animation: rotation 3s infinite linear;
  }

  .kraken-pause {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .password-reset-send-button {
    margin-top: 20px;
    color: white
  }
</style>
