<template>
  <div>
    <page-header title="Elfelejtett Jelszó"></page-header>
    <v-layout class="meme-card-row">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card :class="krakenCardClass">
          <h2 class="title">🐙Csak akkor kaphatsz új jelszót, ha talpra állítod a Kraken-t🐙</h2>
          <div v-if="gameStarted" id="krakenbox">
            <img @click="onKrakenClick" :class="krakenClass" src="../../assets/kraken.png"/>
          </div>
          <v-btn v-if="!gameStarted" @click="gameStarted = true" small flat class="register-button" color="#47ac35">Mehet
          </v-btn>
        </v-card>
        <v-card>
          <v-form v-if="krakenOnFeet">
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
              <v-alert
                v-model="resetLinkSentAlert"
                dismissible
                transition="scale-transition"
                type="success">
                Jelszó reset email kiküldve!
              </v-alert>
              <v-text-field
                class="first-input"
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail cím"
                required
                color="#005c89"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()">
              </v-text-field>
            </v-flex>
            <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
              <v-btn @click="submit" :disabled="isSubmitDisabled" class="password-reset-send-button" color="#47ac35">Mehet</v-btn>
            </v-flex>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import { innoEmailValidator } from '../../helper/customvalidator/customValidators.js'
import PageHeader from '../static/PageHeader'
import { mapState } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    email: {
      required,
      maxLength: maxLength(50),
      email,
      innoEmailValidator,
      isEmailPresent: function (val) {
        if (val === '') return true
        this.$store.dispatch('isEmailAlreadyTaken', {
          email: val
        })
        return this.auth.isEmailAlreadyTaken
      }
    }
  },
  data: () => ({
    krakenClass: 'kraken',
    krakenCardClass: 'kraken-card-default',
    gameStarted: false,
    krakenOnFeet: false,
    email: '',
    isSubmitDisabled: false,
    resetLinkSentAlert: false
  }),
  components: { PageHeader },
  methods: {
    onKrakenClick () {
      const kraken = document.getElementsByClassName('kraken')[0]
      if (kraken) {
        let rawKrakenPosition = window.getComputedStyle(kraken, null).getPropertyValue('transform')
        let relevantKrakenPosition = rawKrakenPosition.split('(').pop().split(',')[0]
        if (+relevantKrakenPosition > 0.96 && +relevantKrakenPosition < 1) {
          this.krakenOnFeet = true
          this.krakenClass = 'kraken-pause'
          this.krakenCardClass = 'kraken-card-success'
        } else {
          this.krakenCardClass = 'kraken-card-danger'
          setTimeout(() => {
            this.krakenCardClass = 'kraken-card-default'
          }, 500)
        }
      }
    },
    submit () {
      this.$v.$touch()
      if (this.$v.$pending || this.$v.$error) return
      this.$store.dispatch('generatePasswordResetCode', {
        email: this.email,
        vm: this
      })
    }
  },
  computed: {
    ...mapState([
      'auth'
    ]),
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Érvényes e-mail címet adhatsz csak meg')
      !this.$v.email.maxLength && errors.push('Az e-mail címed max 50 karakter lehet')
      !this.$v.email.innoEmailValidator && errors.push('Csak \'innovitech.hu\'-ra végződő e-mail cím adható meg')
      !this.$v.email.required && errors.push('E-mail kitöltés kötelező')
      !this.$v.email.isEmailPresent && errors.push('Ez az e-mail cím még nincs regisztrálva')
      return errors
    }
  },
  destroyed () {
    this.resetLinkSentAlert = false
  }
}
</script>

<style scoped>
  .title {
    padding-top: 15px;
  }

  .kraken-card-default {
    text-align: center;
    margin-bottom: 50px;
  }

  .kraken-card-danger {
    background-color: #F44336;
    text-align: center;
    margin-bottom: 50px;
  }

  .kraken-card-success {
    background-color: #47ac35;
    text-align: center;
    margin-bottom: 50px;
  }

  #krakenbox {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .kraken {
    animation: rotation 3s infinite linear;
  }

  .kraken-pause {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .password-reset-send-button {
    margin-top: 20px;
    color: white
  }
</style>
