<template>
  <v-form>
    <page-header title="Regisztráció"></page-header>
    <v-layout class="signup-stuff">
      <v-flex xs10 sm8 md6 lg4 offset-xs1 offset-sm2 offset-md3 offset-lg4>
        <v-card>
          <v-flex xs10 sm10 offset-xs1 offset-sm1 class="first-input">
            <v-text-field
              v-model="fullName"
              :error-messages="fullNameErrors"
              label="Teljes név"
              required
              color="#d04799"
              @input="$v.fullName.$touch()"
              @blur="$v.fullName.$touch()"
              @paste="noCopy()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-text-field
              v-model="username"
              :error-messages="usernameErrors"
              label="Felhasználónév"
              required
              color="#d04799"
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="E-mail cím"
              required
              color="#005c89"
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-text-field
              v-model="password"
              type="password"
              :error-messages="passwordErrors"
              label="Jelszó"
              :hint="password.length ? strength : ''"
              required
              color="#005c89"
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()">
            </v-text-field>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-alert
              :value="true"
              color="info"
              icon="info"
              outline>
              Add meg melyik irodá(k)-ban, illetve mely projekt(ek)en dolgozol, így személyre szabott mémeket
              jelenítünk
              meg.
              Neked!
            </v-alert>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-combobox
              v-model="cityOffice"
              :items="cityOfficeList"
              label="Kapcsolódó irodák"
              chips
              color="#d04799"
              clearable
              prepend-icon="filter_list"
              multiple>
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#d04799"
                  text-color="white"
                  @input="removeCityOffice(data.item)">
                  <strong>{{ data.item }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm10 offset-xs1 offset-sm1>
            <v-combobox
              v-model="project"
              :items="projectList"
              label="Kapcsolódó projektek"
              chips
              color="#005c89"
              clearable
              prepend-icon="filter_list"
              multiple>
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  color="#005c89"
                  text-color="white"
                  @input="removeProject(data.item)">
                  <strong>{{ data.item }}</strong>&nbsp;
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
          <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
            <v-btn @click="submit" :disabled="isDisabled" class="registerbutton" color="#47ac35">Regisztráció</v-btn>
          </v-flex>
          <v-flex xs10 sm8 md4 d-flex offset-xs1 offset-sm2 offset-md4>
            <v-btn to="/login">Mégse</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'
import { innoEmailValidator } from '../../helper/customvalidator/customValidators.js'
import PageHeader from '../static/PageHeader'
import { mapState } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    fullName: { required, minLength: minLength(4), maxLength: maxLength(50) },
    username: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(30),
      unique: function (val) {
        if (val === '') return true
        this.$store.dispatch('isUsernameAlreadyTaken', {
          username: val
        })
        return !this.auth.isUsernameAlreadyTaken
      }
    },
    password: { required, minLength: minLength(6), maxLength: maxLength(30) },
    email: {
      required,
      maxLength: maxLength(50),
      email,
      innoEmailValidator,
      unique: function (val) {
        if (val === '') return true
        this.$store.dispatch('isEmailAlreadyTaken', {
          email: val
        })
        return !this.auth.isEmailAlreadyTaken
      }
    }
  },

  data: () => ({
    isDisabled: false,
    fullName: '',
    username: '',
    email: '',
    password: '',
    cityOfficeList: ['Eger', 'Debrecen', 'Budapest'],
    cityOffice: [],
    projectList: ['BICON', 'OSZ', 'TÉM', 'CTA', 'GENAT'],
    project: []
  }),
  components: { PageHeader },
  computed: {
    ...mapState([
      'auth'
    ]),
    fullNameErrors () {
      const errors = []
      if (!this.$v.fullName.$dirty) return errors
      !this.$v.fullName.minLength && errors.push('A teljes nevednek minimum 4 krakternek kell lennie')
      !this.$v.fullName.maxLength && errors.push('A teljes neved maximum 50 karakternek lehet')
      !this.$v.fullName.required && errors.push('A teljes név kitöltése kötelező')
      return errors
    },
    usernameErrors () {
      const errors = []
      if (!this.$v.username.$dirty) return errors
      !this.$v.username.minLength && errors.push('A felhasználó nevednek minimum 3 krakternek kell lennie')
      !this.$v.username.maxLength && errors.push('A felhasználó nevednek maximum 30 karakter lehet')
      !this.$v.username.required && errors.push('A felhasználó név kitöltése kötelező')
      !this.$v.username.unique && errors.push('Ez a felhasználó név már létezik')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Érvényes e-mail címet adhatsz csak meg')
      !this.$v.email.maxLength && errors.push('Az e-mail címed max 50 karakter lehet')
      !this.$v.email.innoEmailValidator && errors.push('Csak \'innovitech.hu\'-ra végződő e-mail cím adható meg')
      !this.$v.email.required && errors.push('E-mail kitöltés kötelező')
      !this.$v.email.unique && errors.push('Ez az e-mail már létezik')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('A jelszavadnak legalább 6 karakternek kell lennie')
      !this.$v.password.maxLength && errors.push('A jelszavad max 30 karakter lehet')
      !this.$v.email.required && errors.push('A jelszavad kitöltése kötelező')
      return errors
    },
    strength () {
      // TODO: ezen még bőven finomítani
      const length = this.password.length
      const strength = {
        'Erős': length >= 14,
        'Közepes': length < 14 && length >= 8,
        'Gyenge': length < 8
      }
      return Object.keys(strength).find(key => strength[key])
    }
  },

  methods: {
    submit () {
      this.$v.$touch()
      if (this.$v.$pending || this.$v.$error) return
      this.$store.dispatch('registerUser', {
        fullName: this.fullName,
        username: this.username,
        email: this.email,
        password: this.password,
        cityOfficeList: this.cityOffice,
        projectList: this.project,
        vm: this
      })
    },
    removeCityOffice (item) {
      this.cityOffice.splice(this.cityOffice.indexOf(item), 1)
      this.cityOffice = [...this.cityOffice]
    },
    removeProject (item) {
      this.project.splice(this.project.indexOf(item), 1)
      this.project = [...this.project]
    }
  }
}
</script>

<style scoped>
  .registration-title-card {
    margin-top: 25px;
  }
  .signup-title {
    background-image: linear-gradient(to right, #d04799 , #005c89);
    opacity: 0.5;
    color: white;
  }
  .signup-stuff {
    margin-top: 10px;
  }
  button.registerbutton.v-btn.theme--light {
    margin-top: 20px;
    color: white
  }
</style>
